.wrapper {
    background-color: #5a87b4;
    height: 400px;
    padding:0 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tableWrapper {
    position:absolute;
    height: 550px;
    width: 350px;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    background-color: #222;
    border-radius: 15px;
    background-image: url('https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg');
    background-position: center;
    /*background-repeat: no-repeat;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding-top: 50px;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    color: white;
}

.formHolder {
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
    margin-bottom: 20px;
}

.input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}

.checkboxWrapper {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 20px;
    height: 20px;
    color: #3b3b3b;
}

.button {
    background-color: rgba(0,0,0,0.4);
    color: rgba(256,256,256,0.7);
    border:0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    /*width: 100%;*/
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
}

.createAccount {
    text-decoration: none;
    color: white;
}