.App {
  text-align: center;
  min-height: 100vh;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #d0e2f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}


