.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.buttonWrapper {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addButton,
.deleteButton,
.cancelButton {
    padding: 5px;
    margin: 5px;
    border: none;
}

.deleteButton {
    background-color: #fa5128;
    color: white;
}

.addButton {
    background-color: #0f09cb;
    color: #a4c4fa;
}

.cancelButton {
    background-color: #a4c4fa;
    color: #0f09cb;
}